.FancyTooltip-Wrapper {
    display: inline-flex;
    pointer-events: none;
    z-index: 1000;

    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.4s var(--easing-standard), opacity 0.4s var(--easing-standard);

    &.FancyTooltip-Wrapper--Active {
        opacity: 1;
        transform: scale(1);

        .FancyTooltip-Content {
            pointer-events: auto;
        }
    }

    &--Fixed {
        position: fixed;
        top: 10px;
        left: 0;
        width: 100vw;
        justify-content: center;
        
        transform: translateY(-80px) scale(1);
        transition: transform 0.6s var(--easing-standard), opacity 0.6s var(--easing-standard);

        &.FancyTooltip-Wrapper--Active {
            transform: translateY(0) scale(1);
        }
    }
}

:host {
    display: inline-flex;
}

:host(.FancyTooltip-Arrow--HasLeft) {
    padding-left: 6px;
}
:host(.FancyTooltip-Arrow--HasRight) {
    padding-right: 6px;
}
:host(.FancyTooltip-Arrow--HasTop) {
    padding-top: 6px;
}
:host(.FancyTooltip-Arrow--HasBottom) {
    padding-bottom: 6px;
}

.FancyTooltip-Content {
    position: relative;
    width: max-content;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-medium, 8px) 20px;
    border-radius: var(--radius-standard);
    text-align: center;
    font-size: var(--fontsize-small, 12px);
    font-weight: 500;
    line-height: 1.4;
}

.FancyTooltip-Arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--surface-background);
    box-sizing: border-box;
    z-index: 0;

    &--Top {
        top: -6px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        border-left: 1px solid var(--border-strong);
        border-top: 1px solid var(--border-strong);
    }

    &--Bottom {
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        border-right: 1px solid var(--border-strong);
        border-bottom: 1px solid var(--border-strong);
    }

    &--Left {
        left: -6px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border-left: 1px solid var(--border-strong);
        border-bottom: 1px solid var(--border-strong);
    }

    &--Right {
        right: -6px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border-right: 1px solid var(--border-strong);
        border-top: 1px solid var(--border-strong);
    }
}
