@use '../../../../shared/styles' as s;



.DeepBackground-Container {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    
    z-index: 0; // Base background layer
    
    background-color: var(--BG-Color-1, var(--Base-BG));
    overflow: hidden;
    
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
    
    transition: background-color var(--Duration-Standard) var(--Easing-Standard);

    :root.Block-DarkMode-Extensions & {
        color-scheme: inherit !important;
    }
}


