@use '../../../../shared/styles' as s;



.DeepBackground-Container {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    
    z-index: -2; // Behind everything, including Aurora
    
    background-color: var(--BG-Color-1, var(--Base-BG));
    overflow: hidden;
    
    transition: background-color var(--Duration-Standard) var(--Easing-Standard);
}


