@use '../../../../shared/styles' as s;



.DeepBackground-Container {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    
    z-index: 0; // Base background layer
    
    background-color: var(--background-colour-1, var(--base-background));
    overflow: hidden;
    
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
    
    transition: background-color var(--duration-standard) var(--easing-standard);

    :root.Block-DarkMode-Extensions & {
        color-scheme: inherit !important;
    }
}


