@use '../../../styles' as s;



:host {
    display: inline-flex;
    cursor: pointer;

    width: var(--minibutton-width, 48px);
    height: var(--minibutton-height, 48px);
    
    container-type: size;
}

:host(.Disabled) {
    cursor: not-allowed !important;
    opacity: 0.5;

    .Minibutton-IconContainer {
        cursor: not-allowed !important;
        pointer-events: none;
    }
}



.Minibutton-IconContainer {
    @include s.CreateTransition(transform, border-radius, background-color, border-color);

    display: flex;
    place-content: center;
    place-items: center;
    
    width: var(--minibutton-width, 48px);
    height: var(--minibutton-height, 48px);
    border-radius: var(--radius-standard);
    
    overflow: hidden;
    
    &:hover {
        transform: translateY(var(--hover-movey)) scale(var(--hover-scale-big));

        border-radius: var(--radius-pill);
    }
}

.Minibutton-Icon {
    width: 24px;
    height: 24px;
    background-color: currentColor;
    
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: none;

    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: none;

    transition: background-color var(--duration-standard) var(--easing-standard);
    
    &.Minibutton-Icon--Entering {
        animation: Icon-EnterLeft var(--duration-standard) var(--easing-standard) forwards;
    }
    &.Minibutton-Icon--Exiting {
        animation: Icon-ExitRight var(--duration-standard) var(--easing-standard) forwards;
    }
    &.Minibutton-Icon--OffScreen {
        transform: translateX(50px);
    }
}

.Minibutton-Label {
    font-size: 14px;
    font-weight: 600;

    transition: color var(--duration-standard) var(--easing-standard);
}
