@use '../../../styles' as s;



:host {
    display: inline-flex;
    cursor: pointer;

    width: var(--Minibutton-Width, 48px);
    height: var(--Minibutton-Height, 48px);
    
    container-type: size;
}



.Minibutton-IconContainer {
    @include s.CreateTransition(transform, border-radius, background-color, border-color);

    display: flex;
    place-content: center;
    place-items: center;
    
    width: var(--Minibutton-Width, 48px);
    height: var(--Minibutton-Height, 48px);
    border-radius: var(--Radius-Standard);
    
    overflow: hidden;
    
    &:hover {
        transform: translateY(var(--Hover-MoveY)) scale(var(--Hover-Scale-Big));

        border-radius: var(--Radius-Pill);
    }
}

.Minibutton-Icon {
    width: 24px;
    height: 24px;
    background-color: currentColor;
    
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: var(--icon);

    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: var(--icon);

    transition: background-color var(--Duration-Standard) var(--Easing-Standard);
    
    &.Minibutton-Icon--Entering {
        animation: Icon-EnterLeft var(--Duration-Standard) var(--Easing-Standard) forwards;
    }
    &.Minibutton-Icon--Exiting {
        animation: Icon-ExitRight var(--Duration-Standard) var(--Easing-Standard) forwards;
    }
    &.Minibutton-Icon--OffScreen {
        transform: translateX(50px);
    }
}

.Minibutton-Label {
    font-size: 14px;
    font-weight: 600;

    transition: color var(--Duration-Standard) var(--Easing-Standard);
}
