<FancyContainer
    class = "Minibutton-IconContainer"
    [attr.tabindex] = "EffectiveTabindex()"
    role = "button"
    (pointerdown) = "OnDown()"
    (pointerup) = "OnUp()"
    (pointerleave) = "OnUp()"
    (pointercancel) = "OnUp()"
    (keydown) = "OnKeyDown($event)">

    @if (Icon()) {
        <div
            class = "Minibutton-Icon" 
            [class.Minibutton-Icon--Entering] = "IconStatus === 'Entering'"
            [class.Minibutton-Icon--Exiting] = "IconStatus === 'Exiting'"
            [class.Minibutton-Icon--OffScreen] = "IconStatus === 'OffScreen'"
            
            [ngStyle] = "GetIconStyles"
            (animationend) = "OnIconAnimationEnd()">
        </div>
    }

    @if (Label()) {
        <span 
            class = "Minibutton-Label"
            [FancyTypewriter] = "Label() ?? ''">
        </span>
    }
</FancyContainer>
