<div class = "FancyDropdown-Trigger-Wrapper">
    <FancyContainer
        class = "FancyDropdown-Trigger"
        [Type] = "EffectiveType()"
        tabindex = "0"
        (click) = "Toggle()"
        (keydown.enter) = "Toggle()"
        (keydown.space) = "Toggle(); $event.preventDefault()">
        
        <div class = "FancyDropdown-Label-Wrapper">
            <span 
                class = "FancyDropdown-Label"
                [FancyTypewriter] = "TriggerLabel()">
            </span>
        </div>

        <div class = "FancyDropdown-Icon"></div>
    </FancyContainer>
</div>

<div 
    class = "FancyDropdown-List-Wrapper"
    [class.Is-Open] = "IsOpen">

    <FancyContainer
        class = "FancyDropdown-List"
        [Type] = "EffectiveType()">
        
        @for (Item of Items(); track $index) {
            @if (!IsSameItem(Item, SelectedItem())) {
                <div 
                    class = "FancyDropdown-Item"
                    [attr.tabindex] = "IsOpen ? 0 : -1"
                    (click) = "Select(Item)"
                    (keydown.enter) = "Select(Item)"
                    (keydown.space) = "Select(Item); $event.preventDefault()">
                    <span 
                        class = "FancyDropdown-Item-Label"
                        [FancyTypewriter] = "GetItemLabel(Item)">
                    </span>
                </div>
            }
        }
    </FancyContainer>
</div>
