@use '../../../styles' as s;



:host {
    @include s.CreateTransition(transform);

    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--Button-Width, 100%);
    height: var(--Button-Height, 50px);

    container-type: size;

    /* Improve scaling quality to prevent graying/blurring of thin borders */
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    will-change: transform;

    color: var(--Text-Main);

    &:hover {
        transform: scale(var(--Hover-Scale-Big)) translateZ(0);
        --Container-Border-Color: var(--Border-Strong);
    }

    &:has(.FancyDropdown-Item:hover) {
        transform: scale(1) translateZ(0);
        --Container-Border-Color: var(--Border-Main);
    }

    .FancyDropdown-Icon-Container {
        background-color: var(--Surface-BG-Hover);
    }
    
    .FancyDropdown-Item:hover {
        background-color: var(--Surface-BG-Hover);
    }
}

:host(.FancyDropdown--Open) {
    .FancyDropdown-Icon {
        transform: rotate(-90deg);
    }
}



.FancyDropdown-Trigger-Wrapper {
    @include s.CreateTransition(border-radius);
    
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;

    outline: none;

    &:hover {
        @include s.SynchronizeStates('.FancyDropdown-Trigger') {
            border-radius: 50%;
        }

        @include s.SynchronizeStates('.FancyDropdown-Icon-Container') {
            border-radius: 50%;
        }
    }
}

.FancyDropdown-Trigger {
    @include s.CreateTransition(border-radius, transform, border-color);

    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    padding: 0px var(--Padding-Medium);

    position: relative;
    width: 100%;
    height: 100%;

    cursor: pointer;
    border-radius: 35.6cqmin;
}

.FancyDropdown-Label-Wrapper {
    height: 100%;
    display: flex;
    place-content: center flex-start;
    place-items: center;
}

.FancyDropdown-Label, .FancyDropdown-Item-Label {
    font-size: var(--FontSize-Standard);
    white-space: normal;
    line-height: 1.1;
    word-break: break-word;
    word-wrap: break-word;
    display: inline-block;
    text-align: left;
    width: auto;
    max-width: 100%;
}

.FancyDropdown-Icon-Container {
    @include s.CreateTransition(border-radius, transform);
    
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: center;
    
    position: relative;
    
    height: var(--IconContainer-Size);
    width: auto;
    aspect-ratio: 1 / 1;
    
    border-radius: 35.6cqmin;
    box-shadow: 0 0 10px var(--Shadow-Standard);
    
    overflow: hidden;
    flex-shrink: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.FancyDropdown-Icon {
    @include s.CreateTransition(transform);
    @include s.MaskedIcon(url('/assets/icons/arrow.png'), currentColor);

    border: none;

    height: 18px;
    width: 18px;
    flex-shrink: 0;
    transform: rotate(90deg);
}

.FancyDropdown-List-Wrapper {
    position: absolute;
    top: 0;
    left: 1px;
    right: 1px;
    width: auto;
    z-index: 1;
    
    clip-path: inset(0px 0px -2000px 0px);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0px, transparent calc(var(--Button-Height, 50px) - 35.6cqmin), black var(--Button-Height, 50px));
    mask-image: linear-gradient(to bottom, transparent 0px, transparent calc(var(--Button-Height, 50px) - 35.6cqmin), black var(--Button-Height, 50px));
    pointer-events: none;
    
    &.Is-Open {
        pointer-events: all;
    }
}

.FancyDropdown-List {
    @include s.CreateTransition(border-radius, transform);
    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: calc(var(--Button-Height, 50px) + var(--Padding-Medium)) var(--Padding-Medium) var(--Padding-Medium) var(--Padding-Medium);
    gap: var(--Padding-Small);

    border-radius: 26.7cqmin;
    border-top: none;
    overflow: hidden;
    
    transform: translateY(-100%);

    .Is-Open > & {
        transform: translateY(0%);
    }

    &:has(.FancyDropdown-Item:hover) {
        border-radius: 53.3cqmin;
    }
}

.FancyDropdown-Item {
    @include s.CreateTransition(background-color, transform, border-radius);

    display: flex;
    flex-direction: row;
    place-items: center;
    
    padding: var(--Padding-Small) var(--Padding-Medium);
    cursor: pointer;
    border-radius: 53.3cqmin;

    &:hover {
        transform: scale(var(--Hover-Scale-Big));
        border-radius: 50%;
    }
}