<div class = "FancyDropdown-Trigger-Wrapper">
    <FancyContainer
        class = "FancyDropdown-Trigger"
        [Type] = "EffectiveType()"
        (click) = "Toggle()">
        
        <div class = "FancyDropdown-Label-Wrapper">
            <span 
                class = "FancyDropdown-Label"
                [FancyTypewriter] = "TriggerLabel">
            </span>
        </div>

        <div class = "FancyDropdown-Icon"></div>
    </FancyContainer>
</div>

<div 
    class = "FancyDropdown-List-Wrapper"
    [class.Is-Open] = "IsOpen">

    <FancyContainer
        class = "FancyDropdown-List"
        [Type] = "EffectiveType()">
        
        <ng-container *ngFor = "let Item of Items">
            <div 
                *ngIf = "(Item !== SelectedItem)"
                class = "FancyDropdown-Item"
                (click) = "Select(Item)">
                <span 
                    class = "FancyDropdown-Item-Label"
                    [FancyTypewriter] = "GetItemLabel(Item)">
                </span>
            </div>
        </ng-container>
    </FancyContainer>
</div>
