@use '../../../styles' as s;



:host {
    @include s.CreateTransition(transform);

    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--button-width, 100%);
    height: var(--button-height, 50px);

    container-type: size;

    /* Improve scaling quality to prevent graying/blurring of thin borders */
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    will-change: transform;

    color: var(--text-main);
    
    &:hover, &:focus-within {
        transform: scale(var(--hover-scale-big)) translateZ(0);
        --container-border-color: var(--border-strong);
    }

    &:has(.FancyDropdown-Item:hover) {
        transform: scale(1) translateZ(0);
        --container-border-color: var(--border-main);
    }

}

:host(.FancyDropdown--Open) .FancyDropdown-Icon {
    transform: rotate(-90deg);
}



.FancyDropdown-Trigger-Wrapper {
    @include s.CreateTransition(border-radius);
    
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;

    outline: none;

    &:hover, &:focus-within {
        @include s.SynchronizeStates('.FancyDropdown-Trigger') {
            border-radius: var(--radius-pill);
        }

        @include s.SynchronizeStates('.FancyDropdown-Icon-Container') {
            border-radius: var(--radius-pill);
        }
    }
}

.FancyDropdown-Trigger {
    @include s.CreateTransition(border-radius, transform, border-color);

    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    padding: 0px var(--padding-medium);

    position: relative;
    width: 100%;
    height: 100%;

    cursor: pointer;
    border-radius: var(--radius-standard);

    &:focus-visible, &:focus {
        outline: none;
        border-color: var(--border-strong);
    }
}

.FancyDropdown-Label-Wrapper {
    height: 100%;
    display: flex;
    place-content: center flex-start;
    place-items: center;
}

.FancyDropdown-Label, .FancyDropdown-Item-Label {
    font-size: var(--fontsize-standard);
    white-space: normal;
    line-height: 1.1;
    word-break: break-word;
    word-wrap: break-word;
    display: inline-block;
    text-align: left;
    width: auto;
    max-width: 100%;
}

.FancyDropdown-Icon-Container {
    @include s.CreateTransition(border-radius, transform);
    
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: center;
    
    position: relative;
    
    height: var(--iconcontainer-size);
    width: auto;
    aspect-ratio: 1 / 1;
    
    border-radius: var(--radius-standard);
    box-shadow: 0 0 10px var(--shadow-standard);
    
    overflow: hidden;
    flex-shrink: 0;
    
    background-color: var(--surface-background-hover);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.FancyDropdown-Icon {
    @include s.CreateTransition(transform);
    @include s.MaskedIcon(url('/assets/icons/shaftless-arrow.png'), currentColor);

    border: none;

    height: 18px;
    width: 18px;
    flex-shrink: 0;
    transform: rotate(90deg);
}

.FancyDropdown-List-Wrapper {
    position: absolute;
    top: 0;
    left: 1px;
    right: 1px;
    width: auto;
    z-index: 1;
    
    clip-path: inset(0px 0px -2000px 0px);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0px, transparent calc(var(--button-height, 50px) - 35.6cqmin), black var(--button-height, 50px));
    mask-image: linear-gradient(to bottom, transparent 0px, transparent calc(var(--button-height, 50px) - 35.6cqmin), black var(--button-height, 50px));
    pointer-events: none;
    
    &.Is-Open {
        pointer-events: all;
    }
}

.FancyDropdown-List {
    @include s.CreateTransition(border-radius, transform);
    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: calc(var(--button-height, 50px) + var(--padding-medium)) 0px var(--padding-medium) 0px;
    gap: var(--padding-small);

    border-radius: var(--radius-sharp);
    border-top: none;
    overflow: hidden;
    
    transform: translateY(-100%);

    .Is-Open > & {
        transform: translateY(0%);
    }

    &:has(.FancyDropdown-Item:hover) {
        border-radius: var(--radius-pill);
    }
}

.FancyDropdown-Item {
    @include s.CreateTransition(background-color, transform, border-radius);

    display: flex;
    flex-direction: row;
    place-items: center;
    
    padding: var(--padding-small) var(--padding-medium);
    cursor: pointer;
    border-radius: var(--radius-pill);
    outline: none;

    &:hover, &:focus-visible, &:focus {
        background-color: var(--surface-background-hover);

        transform: scale(var(--hover-scale-big));

        border-radius: var(--radius-pill);
    }
}