@use '../../../styles' as s;



:host {
    display: block;
    width: 100%;
}

:host(.FancyTextbox--Primary) {
    color: white;

    .FancyTextbox-Icon-Container {
        background-color: rgba(255, 255, 255, 0.1);
    }
}
:host(.FancyTextbox--Secondary) {
    color: black;

    .FancyTextbox-Icon-Container {
        background-color: rgba(0, 0, 0, 0.1);
    }
}



.FancyTextbox-Wrapper {    
    display: flex;

    place-content: center;
    place-items: center;
    
    position: relative;

    left: 50%;
    transform: translate(-50%, 0%);

    width: var(--Textbox-Width);
    height: var(--Control-Height);

    transition: all var(--Duration-Slow) var(--Easing-Standard);

    border-radius: var(--Radius-Standard);
    
    padding: 0px var(--Padding-Small) 0px var(--Padding-Small);

    font-size: var(--FontSize-Standard);

    &:hover {
        width: calc(var(--Textbox-Width) * var(--Hover-Scale-Big));
        border-radius: var(--Radius-Roundiest);

        .FancyTextbox-Icon-Container {
            transform: scale(var(--Hover-Scale-Standard));
            border-radius: var(--Radius-Roundiest);
        }
    }

    &:has(.FancyTextbox:focus),
    &[Focus-State = "Focusing"] {
        width: calc(var(--Textbox-Width) * 1.1);
    }
}

.FancyTextbox-Icon-Container {
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;

    display: block;
    place-content: center;

    overflow: hidden;

    z-index: 3;

    height: var(--IconContainer-Size);
    width: auto;

    transition: all var(--Duration-Slow) var(--Easing-Standard);

    flex-shrink: 0;
    
    border-radius: var(--Radius-Sharp);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.FancyTextbox-Icon {
    @include s.MaskedIcon(var(--icon-url), currentColor);

    pointer-events: none;

    position: relative;

    z-index: 5;

    width: var(--Icon-Size-Standard);
    height: var(--Icon-Size-Standard);

    transition: transform var(--Duration-Slow) var(--Easing-Standard);

    &.Icon-ExitUp {
        animation: Icon-ExitUp 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
    &.Icon-EnterDown {
        animation: Icon-EnterDown 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
}

@keyframes Icon-ExitUp {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-30px); opacity: 0; }
}

@keyframes Icon-EnterDown {
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.FancyTextbox-Visibility-Toggle {
    position: absolute;
    right: var(--Padding-Small);

    height: 100%;
    aspect-ratio: 1 / 1;

    display: flex;
    place-content: center;
    place-items: center;

    cursor: pointer;
    pointer-events: all;

    transition: all var(--Duration-Slow) var(--Easing-Standard);

    .Visibility-Toggle-BaseIcon,
    .Visibility-Toggle-StrikeIcon {
        @include s.MaskedIcon(none, currentColor);
        
        position: absolute;
        width: calc(var(--Icon-Size-Standard) * 0.7);
        height: calc(var(--Icon-Size-Standard) * 0.7);
        
        transition: transform var(--Duration-Slow) var(--Easing-Standard);
    }

    .Visibility-Toggle-BaseIcon {
        -webkit-mask-image: url('../../../../../assets/icons/eye.png');
        mask-image: url('../../../../../assets/icons/eye.png');
    }

    .Visibility-Toggle-StrikeIcon {
        -webkit-mask-image: url('../../../../../assets/icons/crossmark.png');
        mask-image: url('../../../../../assets/icons/crossmark.png');
        
        transition: transform var(--Duration-Slow) var(--Easing-Standard), var(--Draw-Transition);
    }

    &:hover .Visibility-Toggle-BaseIcon,
    &:hover .Visibility-Toggle-StrikeIcon {
        transform: scale(var(--Hover-Scale-Big));
    }
}

.FancyTextbox-Content {
    display: inline-flex;
    place-content: center;
    place-items: center;

    width: 100%;
    height: 100%;
    
    gap: 10px;
}

.FancyTextbox-Border {
    pointer-events: none;

    position: absolute;

    left: 0;
    transform: none;

    width: 100%;
    height: 100%;

    transition: all 1.5s cubic-bezier(1, 0, 0, 1);

    &.FancyTextbox--First {
        border-radius: var(--Radius-Standard) var(--Radius-Standard) 2px 2px;
    }
    &.FancyTextbox--Intermediate {
        border-top: none;
        border-radius: 0px;
    }
    &.FancyTextbox--Last {
        border-top: none;
        border-radius: 2px 2px var(--Radius-Standard) var(--Radius-Standard);
    }
    &.FancyTextbox--Unique {
        border-radius: var(--Radius-Standard);
    }
}

.FancyTextbox {
    outline: none;

    position: absolute;
    
    left: 0;
    transform: none;

    width: 100%;
    height: 100%;

    transition: transform 0.5s var(--Easing-Standard);
    transform-origin: left;

    background-color: transparent;

    cursor: pointer;

    padding-left: calc(var(--Control-Height) + var(--Padding-Small));
    padding-right: var(--Padding-Small);
    box-sizing: border-box;

    border: none;
    border-width: 0px;
    border-radius: var(--Radius-Sharp);

    text-align: left;
    text-indent: 0;

    font-size: inherit;
    color: inherit;

    &:has(~ .FancyTextbox-Visibility-Toggle) {
        padding-right: calc(var(--Control-Height) + var(--Padding-Small));
        text-indent: 0; // maybe useless code
    }
}