.FancyTextbox-Wrapper {
    --Textbox-Placeholder-Animation-Spacing: 42.5%;

    --Textbox-Width: 400px;
    --Textbox-Height: calc(var(--Textbox-Width) / 9.0);
    
    --Focused-Textbox-Border-Size: 32px;
    --Unfocused-Textbox-Border-Size: 16px;

    position: relative;
    
    left: 50%;
    transform: translate(-50%, 0%);

    height: var(--Textbox-Height);
    width: var(--Textbox-Width);

    display: flex;

    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);

    -webkit-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);

    &[Focus-State = "Focusing"],
    &[Focus-State = "Focused"] {
        height: var(--Textbox-Height);
        width: calc(var(--Textbox-Width) * 1.1);

        .FancyTextbox-Icon-Container {
            border-radius: var(--Focused-Textbox-Border-Size);
        }

        .FancyTextbox-Border {
            border-radius: var(--Focused-Textbox-Border-Size);

            &.FancyTextbox-Backgroundless {
                &.FancyTextbox-First,
                &.FancyTextbox-Unique {
                    mask-position: 50% -10%, 50% 50%;    

                    -webkit-mask-position: 50% -10%, 50% 50%;
                }
                &.FancyTextbox-Last,
                &.FancyTextboxBorder-AnimationBelow {
                    mask-position: 50% 110%, 50%, 50%; 

                    -webkit-mask-position: 50% 110%, 50%, 50%;
                }
            }

            &:not(.FancyTextbox-Unique) {
                border-top: solid !important;
                border-top-width: 1px !important;
            }
        }
        .FancyTextbox-Placeholder {
            &.FancyTextbox-Standard {
                animation: Fade-Out 0.5s cubic-bezier(0.86, 0, 0.07, 1) both;

                -webkit-animation: Fade-Out 0.5s cubic-bezier(0.86, 0, 0.07, 1) both;
            }
            &.FancyTextbox-Backgroundless {
                &.FancyTextbox-First,
                &.FancyTextbox-Unique {
                    transform: translate(-50%, -100%);
                }
                &.FancyTextbox-Intermediate {
                    animation: Fade-Out 1.0s cubic-bezier(0.86, 0, 0.07, 1) both;

                    -webkit-animation: Fade-Out 1.0s cubic-bezier(0.86, 0, 0.07, 1) both;
                }
                &.FancyTextbox-Last, &.FancyTextboxBorder-AnimationBelow {
                    transform: translate(-50%, 100%);   
                }
            }
        }

        &[Has-Text = "true"] .FancyTextbox-Placeholder.FancyTextbox-Backgroundless {
            animation: Fade-In 1.0s 0.75s cubic-bezier(0.86, 0, 0.07, 1) both;

            -webkit-animation: Fade-In 1.0s 0.75s cubic-bezier(0.86, 0, 0.07, 1) both;
        }
    }

    &[Focus-State = "Unfocusing"],
    &[Focus-State = "Unfocused"] {
        &[Has-Text = "true"] .FancyTextbox-Placeholder {
            animation: Fade-Out 1.0s cubic-bezier(0.86, 0, 0.07, 1) both;

            -webkit-animation: Fade-Out 1.0s cubic-bezier(0.86, 0, 0.07, 1) both;
        }
    }
}

.FancyTextbox-Icon-Container {
    z-index: 3;
    
    height: 100%;
    aspect-ratio: 1 / 1;

    border-radius: var(--Unfocused-Textbox-Border-Size);

    display: block;
    justify-items: center;
    align-content: center;
    
    transition: all 2.0s cubic-bezier(0.645, 0.045, 0.355, 1);

    -webkit-transition: all 2.0s cubic-bezier(0.645, 0.045, 0.355, 1);

    &.FancyTextbox-First {
        border-bottom-left-radius: 0px;

        &.FancyTextbox-IconBackgroundless {
            border-bottom-right-radius: 0px;
        }
    }
    &.FancyTextbox-Intermediate {
        &.FancyTextbox-IconStandard {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        &.FancyTextbox-IconBackgroundless {
            border-radius: 0px;
        }
    }
    &.FancyTextbox-Last {
        border-top-left-radius: 0px;

        &.FancyTextbox-IconBackgroundless {
            border-top-right-radius: 0px;
        }
    }
}

.FancyTextbox-Icon {
    pointer-events: none;

    z-index: 5;

    position: relative;
    
    height: 50%;
    width: 50%;

    mask-image: var(--Icon-URL);
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    
    -webkit-mask-image: var(--Icon-URL);
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.FancyTextbox-Content {
    height: 100%;
    width: 100%;

    color: transparent;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.FancyTextbox-Standard {
        gap: 10px;
    }
}

.FancyTextbox-Border {
    --FancyTextbox-Border-Mask: radial-gradient(
        ellipse 100% 100% at center,
        black 0%,
        black var(--Textbox-Placeholder-Animation-Spacing),
        transparent calc(var(--Textbox-Placeholder-Animation-Spacing) + 3%),
        transparent 100%
    ), linear-gradient(black, black);

    pointer-events: none;
    
    position: absolute;

    left: 50%;
    transform: translate(-50%, 0%);

    height: 100%;
    width: 100%;

    transition: all 1.5s cubic-bezier(1, 0, 0, 1);
    
    -webkit-transition: all 1.5s cubic-bezier(1, 0, 0, 1);

    &.FancyTextbox-Backgroundless {
        mask-image: var(--FancyTextbox-Border-Mask);
        mask-repeat: no-repeat;    
        mask-size: 50% 50%, 100%, 100%;
        mask-position: 50% 50%, 50% 50%;
        mask-composite: exclude;
        
        -webkit-mask-image: var(--FancyTextbox-Border-Mask);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 50% 50%, 100% 100%;
        -webkit-mask-position: 50% 50%, 50% 50%;
        -webkit-mask-composite: xor;
    }

    &.FancyTextbox-First {
        border-radius: var(--Unfocused-Textbox-Border-Size) var(--Unfocused-Textbox-Border-Size) 2px 2px;
    }
    &.FancyTextbox-Intermediate {
        border-top: none;
        border-radius: 0px;
    }
    &.FancyTextbox-Last {
        border-top: none;
        border-radius: 2px 2px var(--Unfocused-Textbox-Border-Size) var(--Unfocused-Textbox-Border-Size);
    }
    &.FancyTextbox-Unique {
        border-radius: var(--Unfocused-Textbox-Border-Size);
    }
}

.FancyTextbox-Placeholder {
    pointer-events: none; 

    z-index: 5;

    position: absolute;

    left: 50%;
    transform: translate(-50%, 0%);

    background-color: transparent !important;
    border-color: transparent !important;

    box-shadow: none !important;

    text-align: center;
    
    font-size: inherit;
    font-weight: inherit;

    transition: all 2.0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: Fade-In 0.5s cubic-bezier(0.86, 0, 0.07, 1) both;

    -webkit-transition: all 2.0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-animation: Fade-In 0.5s cubic-bezier(0.86, 0, 0.07, 1) both;
}

.FancyTextbox {
    cursor: pointer;

    position: absolute;

    left: 50%;
    transform: translate(-50%, 0%);

    height: 100%;
    width: 100%;

    border: none;
    border-width: 0px !important;
    border-radius: inherit;
    
    background-color: transparent !important;

    outline: none;

    text-align: center;

    font-size: inherit;
    font-weight: inherit;
}

.FancyTextbox-Standard {
    border: none;
}
.FancyTextbox-Backgroundless {
    border: solid;
    border-width: 1px;
}

.FancyTextbox-IconStandard {
    border-width: 1px !important;
}
.FancyTextbox-IconBackgroundless {
    border-width: 0px 1px 0px 0px !important;
}

.FancyTextbox-Primary {
    &.FancyTextbox-Standard {
        background-color: rgba(216, 216, 216, 1);
        color: black;

        &.FancyTextbox-IconStandard {
            background-color: black !important;

            .FancyTextbox-Icon {
                background-color: white;
            }
        }
        &.FancyTextbox-IconBackgroundless {
            background-color: transparent !important;

            .FancyTextbox-Icon {
                background-color: black;
            }
        }
    }
    &.FancyTextbox-Backgroundless {
        color: white;
        border-color: white;

        &.FancyTextbox-IconStandard {
            background-color: white !important;

            .FancyTextbox-Icon {
                background-color: black;
            }
        }
        &.FancyTextbox-IconBackgroundless {
            background-color: transparent !important;

            .FancyTextbox-Icon {
                background-color: white;
            }
        }
    }
}
.FancyTextbox-Secondary {
    &.FancyTextbox-Standard {
        background-color: rgba(16, 16, 16, 1);
        color: white;
        
        &.FancyTextbox-IconStandard {
            background-color: white !important;

            .FancyTextbox-Icon {
                background-color: black;
            }
        }
        &.FancyTextbox-IconBackgroundless {
            background-color: transparent !important;

            .FancyTextbox-Icon {
                background-color: white;
            }
        }
    }
    &.FancyTextbox-Backgroundless {
        border-color: black;
        color: white;

        &.FancyTextbox-IconStandard {
            background-color: black !important;

            .FancyTextbox-Icon {
                background-color: white;
            }
        }
        &.FancyTextbox-IconBackgroundless {
            background-color: transparent !important;

            .FancyTextbox-Icon {
                background-color: black;
            }
        }
    }
}

@keyframes Fade-In {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes Fade-Out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}