<FancyContainer
  class = "FancyTextbox-Wrapper"

  [Type] = "EffectiveType()"

  [attr.Has-Text] = "HasText"
  [attr.Focus-State] = "FocusState"

  [style.--icon-url] = "TextboxIconStyle">
  <FancyContainer
    class = "FancyTextbox-Icon-Container"

    [Type] = "EffectiveType()"

    [ngClass] = "GetIconContainerClasses">
    <div
      class = "FancyTextbox-Icon"

      [ngClass] = "{ 
        'Icon-ExitUp': IconAnimationState === 'Exiting', 
        'Icon-EnterDown': IconAnimationState === 'Entering',
        'FancyTextbox--Primary': EffectiveType() === 'Primary',
        'FancyTextbox--Secondary': EffectiveType() === 'Secondary'
      }">
    </div>
  </FancyContainer>

  <div
    class = "FancyTextbox-Content"

    [ngClass] = "GetContentClasses">
    <div
      class = "FancyTextbox-Border"

      [ngClass] = "GetOverlayClasses">
    </div>
    
    <input
      class = "FancyTextbox"

      [ngClass] = "GetInputClasses"
      [ngStyle] = "TextboxStyles"
      [(ngModel)] = "InputValue" 
      [placeholder] = "DisplayPlaceholder"

      [type] = "IsSensitive ? (IsVisible ? 'text' : 'password') : 'text'"
      [attr.maxlength] = "MaximumLength"

      (submit) = "OnSubmit()"

      (pointerenter) = "OnHover()"
      (pointerleave) = "OnUnhover()"
      (pointercancel) = "OnCancel()"
      (pointerdown) = "OnDown()"
      (pointerup) = "OnUp()"
      
      (keydown) = "OnKeyDown()"
      (keyup) = "OnKeyUp()"
      
      (wheel) = "OnWheel()"
      
      (selectstart) = "OnSelect()"
      (select) = "OnUnselect()"

      (focus) = "OnFocus()"
      (blur) = "OnUnfocus()">

    <div
      *ngIf = "IsSensitive"
      class = "FancyTextbox-Visibility-Toggle"
      
      [ngClass] = "GetInputClasses"
      (click) = "ToggleVisibility()">
      <div class = "Visibility-Toggle-BaseIcon"></div>
      <div
        class = "Visibility-Toggle-StrikeIcon Animation-Draw"
        [class.Is-Drawn] = "!IsVisible">
      </div>
    </div>
  </div>
</FancyContainer>