:host {
    --Textbox-Placeholder-Animation-Spacing: 47.5%;

    --Textbox-FontSize: 14px;

    --Textbox-Width: 400px;
    --Textbox-Height: calc(var(--Textbox-Width) / 9.0);

    --Unhovered-Textbox-IconSize: 60%;
    --Hovered-Textbox-IconSize: calc(var(--Unhovered-Textbox-IconSize) * 0.8);

    --Unfocused-Textbox-BorderSize: 16px;
    --Focused-Textbox-BorderSize: calc(var(--Unfocused-Textbox-BorderSize) * 2.0);
}



.FancyTextbox-Wrapper {    
    display: flex;

    place-content: center;
    place-items: center;
    
    position: relative;

    left: 50%;
    transform: translate(-50%, 0%);

    width: var(--Textbox-Width);
    height: var(--Textbox-Height);

    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);

    border: none; 

    gap: 8px;
    padding: 0px 4px 0px 4px;

    font-size: var(--Textbox-FontSize);

    &:hover:not([Focus-State = "Focusing"]):not([Focus-State = "Focused"]) {
        width: calc(var(--Textbox-Width) * var(--Hovering-Strength));
        
        font-size: calc(var(--Textbox-FontSize) * var(--Hovering-Strength));
        
        .FancyTextbox-Icon-Container {
            border-radius: var(--Focused-Textbox-BorderSize);

            .FancyTextbox-Icon {
                width: var(--Hovered-Textbox-IconSize);
                height: var(--Hovered-Textbox-IconSize);
            }
        }

        .FancyTextbox-Border {
            border-radius: var(--Focused-Textbox-BorderSize);
        }
    }

    &[Focus-State = "Focusing"],
    &[Focus-State = "Focused"] {
        width: calc(var(--Textbox-Width) * 1.1);

        .FancyTextbox-Icon-Container {
            border-radius: var(--Focused-Textbox-BorderSize);
        }

        .FancyTextbox-Border {
            border-radius: var(--Focused-Textbox-BorderSize);

            &.FancyTextbox--Backgroundless {
                &.FancyTextbox--Unique {
                    -webkit-mask-position: 50% -10%, 50% 50%;

                    mask-position: 50% -10%, 50% 50%;
                }
                &.FancyTextbox--Last,
                &.FancyTextboxBorder--AnimationBelow {
                    -webkit-mask-position: 50% 110%, 50%, 50%;

                    mask-position: 50% 110%, 50%, 50%;
                }
            }

            &:not(.FancyTextbox--Unique) {
                border-top: solid !important;
                border-top-width: 1px !important;
            }
        }

        .FancyTextbox-Placeholder {
            &.FancyTextbox--Standard {
                animation: Fade-Out 0.5s cubic-bezier(0.86, 0, 0.07, 1) both;
            }
            &.FancyTextbox--Backgroundless {
                &.FancyTextbox--Unique {
                    transform: translate(-50%, -100%);
                }
                &.FancyTextbox--Intermediate {
                    animation: Fade-Out 1.0s cubic-bezier(0.86, 0, 0.07, 1) both;
                }
                &.FancyTextbox--Last, &.FancyTextboxBorder--AnimationBelow {
                    transform: translate(-50%, 100%);
                }
            }
        }

        &[Has-Text = "true"] .FancyTextbox-Placeholder.FancyTextbox--Backgroundless {
            animation: Fade-In 1.0s 0.75s cubic-bezier(0.86, 0, 0.07, 1) both;
        }
    }

    &[Focus-State = "Unfocusing"],
    &[Focus-State = "Unfocused"] {
        &[Has-Text = "true"] .FancyTextbox-Placeholder {
            animation: Fade-Out 1.0s cubic-bezier(0.86, 0, 0.07, 1) both;
        }
    }
}

.FancyTextbox-Icon-Container {
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;

    display: block;
    place-content: center;

    z-index: 3;

    height: 80%;

    transition: all 1.5s cubic-bezier(1, 0, 0, 1);

    flex-shrink: 0;
    
    border-radius: var(--Unfocused-Textbox-BorderSize);

    &.FancyTextbox--First {
        border-bottom-left-radius: 0px;

        &.FancyTextbox--IconBackgroundless {
            border-bottom-right-radius: 0px;
        }
    }
    &.FancyTextbox--Intermediate {
        &.FancyTextbox--IconStandard {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        &.FancyTextbox--IconBackgroundless {
            border-radius: 0px;
        }
    }
    &.FancyTextbox--Last {
        border-top-left-radius: 0px;

        &.FancyTextbox--IconBackgroundless {
            border-top-right-radius: 0px;
        }
    }
}

.FancyTextbox-Icon {
    pointer-events: none;

    -webkit-mask-image: var(--Icon-URL);
    -webkit-mask-size: contain;

    mask-image: var(--Icon-URL);
    mask-size: contain;

    position: relative;

    z-index: 5;

    width: var(--Unhovered-Textbox-IconSize);
    height: var(--Unhovered-Textbox-IconSize);

    transition: all 1.5s cubic-bezier(1, 0, 0, 1);
}

.FancyTextbox-Content {
    display: inline-flex;
    place-content: center;
    place-items: center;

    width: 100%;
    height: 100%;
    
    color: transparent;

    &.FancyTextbox--Standard {
        gap: 10px;
    }
}

.FancyTextbox-Border {
    pointer-events: none;

    position: absolute;

    left: 50%;
    transform: translate(-50%, 0%);

    width: 100%;
    height: 100%;

    transition: all 1.5s cubic-bezier(1, 0, 0, 1);

    &.FancyTextbox--Backgroundless {
        -webkit-mask-image: -webkit-radial-gradient(
            ellipse 100% 100% at center,
            black 0%,
            black var(--Textbox-Placeholder-Animation-Spacing),
            transparent calc(var(--Textbox-Placeholder-Animation-Spacing) + 3%),
            transparent 100%
        ), -webkit-linear-gradient(black, black);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 50% 50%, 100% 100%;
        -webkit-mask-position: 50% 50%, 50% 50%;
        -webkit-mask-composite: xor;

        mask-image: radial-gradient(
            ellipse 100% 100% at center,
            black 0%,
            black var(--Textbox-Placeholder-Animation-Spacing),
            transparent calc(var(--Textbox-Placeholder-Animation-Spacing) + 3%),
            transparent 100%
        ), linear-gradient(black, black);
        mask-repeat: no-repeat;
        mask-size: 50% 50%, 100%, 100%;
        mask-position: 50% 50%, 50% 50%;
        mask-composite: exclude;
    }

    &.FancyTextbox--First {
        border-radius: var(--Unfocused-Textbox-BorderSize) var(--Unfocused-Textbox-BorderSize) 2px 2px;
    }
    &.FancyTextbox--Intermediate {
        border-top: none;
        border-radius: 0px;
    }
    &.FancyTextbox--Last {
        border-top: none;
        border-radius: 2px 2px var(--Unfocused-Textbox-BorderSize) var(--Unfocused-Textbox-BorderSize);
    }
    &.FancyTextbox--Unique {
        border-radius: var(--Unfocused-Textbox-BorderSize);
    }
}

.FancyTextbox-Placeholder {
    pointer-events: none;

    box-shadow: none !important;

    position: absolute;

    z-index: 5;

    left: 50%;
    transform: translate(-50%, 0%);

    transition: all 2.0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: Fade-In 0.5s cubic-bezier(0.86, 0, 0.07, 1) both;

    background-color: transparent !important;
    border-color: transparent !important;

    text-align: center;
}

.FancyTextbox {
    outline: none;

    position: absolute;
    
    left: 50%;
    transform: translate(-50%, 0%);

    width: 100%;
    height: 100%;

    background-color: transparent !important;

    cursor: pointer;

    border: none;
    border-width: 0px !important;
    border-radius: inherit;

    text-align: center;

    font-size: inherit;
}

.FancyTextbox--Standard {
    border: none;
}
.FancyTextbox--Backgroundless {
    border: solid;
    border-width: 1px;
}

.FancyTextbox--IconStandard {
    border-width: 1px !important;
}
.FancyTextbox--IconBackgroundless {
    border-width: 0px 1px 0px 0px !important;
}

.FancyTextbox--Primary {
    &.FancyTextbox--Standard {
        background-color: white;
        color: black;

        &.FancyTextbox--IconStandard {
            background-color: black !important;

            .FancyTextbox-Icon {
                background-color: white;
            }
        }
        &.FancyTextbox--IconBackgroundless {
            background-color: transparent !important;

            .FancyTextbox-Icon {
                background-color: black;
            }
        }
    }
    &.FancyTextbox--Backgroundless {
        border-color: white;
        color: white;

        &.FancyTextbox--IconStandard {
            background-color: white !important;

            .FancyTextbox-Icon {
                background-color: black;
            }
        }
        &.FancyTextbox--IconBackgroundless {
            background-color: transparent !important;

            .FancyTextbox-Icon {
                background-color: white;
            }
        }
    }
}
.FancyTextbox--Secondary {
    &.FancyTextbox--Standard {
        background-color: rgba(16, 16, 16, 1);
        color: white;

        &.FancyTextbox--IconStandard {
            background-color: white !important;

            .FancyTextbox-Icon {
                background-color: black;
            }
        }
        &.FancyTextbox--IconBackgroundless {
            background-color: transparent !important;

            .FancyTextbox-Icon {
                background-color: white;
            }
        }
    }
    &.FancyTextbox--Backgroundless {
        border-color: black;
        color: white;

        &.FancyTextbox--IconStandard {
            background-color: black !important;

            .FancyTextbox-Icon {
                background-color: white;
            }
        }
        &.FancyTextbox--IconBackgroundless {
            background-color: transparent !important;
            
            .FancyTextbox-Icon {
                background-color: black;
            }
        }
    }
}



@keyframes Fade-In {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes Fade-Out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}