<div
  class = "FancyTextbox-Wrapper"

  [attr.Has-Text] = "HasText"
  [attr.Focus-State] = "FocusState"

  [style.--Icon-URL] = "TextboxIconStyle">
  <div
    class = "FancyTextbox-Icon-Container"

    [ngClass] = "GetIconContainerClasses">
    <div
      class = "FancyTextbox-Icon"

      [ngClass] = "GetInputClasses">
    </div>
  </div>

  <div
    class = "FancyTextbox-Content"

    [ngClass] = "GetContentClasses">
    <p 
      class = "FancyTextbox-Placeholder"

      [ngClass] = "GetOverlayClasses">
      {{ Placeholder }}
    </p>

    <div
      class = "FancyTextbox-Border"

      [ngClass] = "GetOverlayClasses">
    </div>
    
    <input
      class = "FancyTextbox"

      [ngClass] = "GetInputClasses"
      [ngStyle] = "TextboxStyles"
      [(ngModel)] = "InputValue" 

      [maxlength] = "MaximumLength ?? 30"

      (submit) = "OnSubmit()"

      (pointerenter) = "OnHover()"
      (pointerleave) = "OnUnhover()"
      (pointercancel) = "OnCancel()"
      (pointerdown) = "OnDown()"
      (pointerup) = "OnUp()"
      
      (keydown) = "OnKeyDown()"
      (keyup) = "OnKeyUp()"
      
      (wheel) = "OnWheel()"
      
      (selectstart) = "OnSelect()"
      (select) = "OnUnselect()"

      (focus) = "OnFocus()"
      (blur) = "OnUnfocus()">
  </div>
</div>