@use '../../../styles' as s;



:host {
    display: block;
    width: 100%;
    
    color: var(--Text-Main);

    .FancyTextbox-Icon-Container {
        background-color: var(--Surface-BG-Hover);
    }
}



.FancyTextbox-Wrapper {    
    display: flex;

    place-content: center;
    place-items: center;
    
    position: relative;

    left: 50%;
    transform: translate(-50%, 0%);

    width: var(--Textbox-Width);
    height: var(--Control-Height);

    transition: all var(--Duration-Slow) var(--Easing-Standard);

    border-radius: calc(var(--Control-Height, 45px) * 0.356);
    
    padding: 0px var(--Padding-Small) 0px var(--Padding-Small);

    font-size: var(--FontSize-Standard);

    background: transparent;
    border: none;

    &:hover:not(:has(.FancyTextbox-Visibility-Toggle:hover)) {
        width: calc(var(--Textbox-Width) * var(--Hover-Scale-Big));
        border-radius: 50%;

        .FancyTextbox-Icon-Container {
            transform: scale(var(--Hover-Scale-Standard));
            border-radius: 50%;
        }

        .FancyTextbox-Border {
            border-radius: 50%;
        }
    }

    &:has(.FancyTextbox:focus),
    &[Focus-State = "Focusing"] {
        width: calc(var(--Textbox-Width) * 1.1);
    }
}

.FancyTextbox-Icon-Container {
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;

    overflow: hidden;

    z-index: 3;

    height: var(--IconContainer-Size);
    width: auto;

    transition: all var(--Duration-Slow) var(--Easing-Standard);

    flex-shrink: 0;
    
    border-radius: calc(var(--Control-Height, 45px) * 0.356);

    border: 1px solid var(--Border-Strong);
    box-shadow: 0 0 10px var(--Shadow-Standard);
}

.FancyTextbox-Icon {
    @include s.MaskedIcon(var(--icon-url), currentColor);

    pointer-events: none;

    position: relative;

    z-index: 5;

    width: var(--Icon-Size-Standard);
    height: var(--Icon-Size-Standard);

    transition: transform var(--Duration-Slow) var(--Easing-Standard);

    &.Icon-ExitUp {
        animation: Icon-ExitUp 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
    &.Icon-EnterDown {
        animation: Icon-EnterDown 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
}

.FancyTextbox-Visibility-Toggle {
    position: absolute;
    right: var(--Padding-Small);

    height: 100%;
    aspect-ratio: 1 / 1;

    display: flex;
    place-content: center;
    place-items: center;

    cursor: pointer;
    pointer-events: all;

    transition: all var(--Duration-Slow) var(--Easing-Standard);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: calc(var(--Padding-Small) * -1);
    }

    .Visibility-Toggle-BaseIcon,
    .Visibility-Toggle-StrikeIcon {
        @include s.MaskedIcon(none, currentColor);
        
        position: absolute;
        width: calc(var(--Icon-Size-Standard) * 0.7);
        height: calc(var(--Icon-Size-Standard) * 0.7);
        
        transition: transform var(--Duration-Slow) var(--Easing-Standard);
    }

    .Visibility-Toggle-BaseIcon {
        -webkit-mask-image: url('../../../../../assets/icons/eye.png');
        mask-image: url('../../../../../assets/icons/eye.png');
    }

    .Visibility-Toggle-StrikeIcon {
        -webkit-mask-image: url('../../../../../assets/icons/crossmark.png');
        mask-image: url('../../../../../assets/icons/crossmark.png');
        
        transition: transform var(--Duration-Slow) var(--Easing-Standard), var(--Draw-Transition);
    }

    &:hover .Visibility-Toggle-BaseIcon,
    &:hover .Visibility-Toggle-StrikeIcon {
        transform: scale(var(--Hover-Scale-Big));
    }
}

.FancyTextbox-Content {
    display: inline-flex;
    place-content: center;
    place-items: center;

    width: 100%;
    height: 100%;
    
    gap: 10px;
}

.FancyTextbox-Border {
    pointer-events: none;

    position: absolute;

    left: 0;
    transform: none;

    width: 100%;
    height: 100%;

    transition: all var(--Duration-Slow) var(--Easing-Standard);

    border: 1px solid var(--Border-Strong);
    background-color: var(--Surface-BG);
    box-sizing: border-box;

    &.FancyTextbox--First {
        border-radius: calc(var(--Control-Height, 45px) * 0.356) calc(var(--Control-Height, 45px) * 0.356) 2px 2px;
    }
    &.FancyTextbox--Intermediate {
        border-top: none;
        border-radius: 0px;
    }
    &.FancyTextbox--Last {
        border-top: none;
        border-radius: 2px 2px calc(var(--Control-Height, 45px) * 0.356) calc(var(--Control-Height, 45px) * 0.356);
    }
    &.FancyTextbox--Unique {
        border-radius: calc(var(--Control-Height, 45px) * 0.356);
    }
}

.FancyTextbox {
    outline: none;

    position: absolute;
    
    left: 0;
    transform: none;

    width: 100%;
    height: 100%;

    transition: transform 0.5s var(--Easing-Standard);
    transform-origin: left;

    background-color: transparent;

    cursor: pointer;

    padding-left: calc(var(--Control-Height) + var(--Padding-Small));
    padding-right: var(--Padding-Small);
    box-sizing: border-box;

    border: none;
    border-width: 0px;
    border-radius: calc(var(--Control-Height, 45px) * 0.267);

    text-align: left;
    text-indent: 0;

    font-size: inherit;
    color: inherit;

    &:has(~ .FancyTextbox-Visibility-Toggle) {
        padding-right: calc(var(--Control-Height) + var(--Padding-Small));
    }
}