@mixin Return-Animation($Animation-Name) {
    @keyframes #{$Animation-Name} {
        0% {
            clip-path: polygon(
                49% -5%,
                49% -5%,
                -5% -5%,
                -5% 105%,
                105% 105%,
                105% -5%,
                51% -5%,
                51% -5%
            ); 
        }

        10% {
            clip-path: polygon(
                49% 5%,
                49% -5%,
                -5% -5%,
                -5% 105%,
                105% 105%,
                105% -5%,
                51% -5%,
                51% 5%
            ); 
        }

        30% {
            clip-path: polygon(
                49% 5%,
                49% -5%,
                -5% -5%,
                -5% 105%,
                105% 105%,
                105% 5%,
                105% 5%,
                105% 5%
            ); 
        }

        50% {
            clip-path: polygon(
                49% 5%,
                49% -5%,
                -5% -5%,
                -5% 105%,
                105% 105%,
                105% 105%,
                105% 105%,
                105% 105%
            ); 
        }

        70% {
            clip-path: polygon(
                49% 5%,
                49% -5%,
                -5% -5%,
                -5% 105%,
                -5% 105%,
                -5% 105%,
                -5% 105%,
                -5% 105%
            ); 
        }

        100% {
            clip-path: polygon(
                49% 5%,
                49% 5%,
                49% 5%,
                49% 5%,
                49% 5%,
                49% 5%,
                49% 5%,
                49% 5%,
            ); 
        }
    }
}

@include Return-Animation('Textbox-Border-FocusIn');
@include Return-Animation('Textbox-Border-FocusOut');

.FancyTextbox {
    cursor: pointer;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    
    height: 100%;
    width: 100%;

    border: none;
    border-width: 0px !important;
    border-radius: inherit;
    
    background-color: transparent;

    outline: none;

    font-size: inherit;
    font-weight: inherit;
}

.FancyTextbox-Wrapper {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    
    aspect-ratio: 7 / 1;
 
    font-size: 16px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    &[Focus-State = "Focusing"], &[Focus-State = "Focused"] {
        .FancyTextbox-Border {
            border-radius: 64px;
            aspect-ratio: 10 / 1;

            animation: 
                Textbox-Border-FocusIn 1.0s ease-in-out both,
                Textbox-Border-Circling 1.5s 1.0s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards infinite;
        }
        .FancyTextbox-Placeholder {
            transform: translate(-50%, -100%);
        }

        &[Has-Text = "true"] {
            .FancyTextbox-Placeholder {
                animation: Fade-In 0.5s 1.0s ease-in-out both;
            }
        }
    }

    &[Focus-State = "Unfocusing"], &[Focus-State = "Unfocused"] {
        .FancyTextbox-Border {
            animation: Textbox-Border-FocusOut 1.0s 1.0s ease-in-out both reverse;
        }

       &[Has-Text = "true"] {
            .FancyTextbox-Placeholder {
                animation: Fade-Out 1.0s ease-in-out both;
            }
        }
    }
}

.FancyTextbox-Border {
    --Spacing: 15%;
    
    pointer-events: none;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    height: 50%;
    aspect-ratio: 8 / 1;

    border-radius: 8px;
    
    transition: all 0.5s ease-in-out;
}

.FancyTextbox-Standard {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.FancyTextbox-Backgroundless {
    background-color: transparent !important;

    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
}

.FancyTextbox-Primary {
    background-color: #ffffff;

    &.FancyTextbox-Standard {
        color: rgba(0, 0, 0, 0.5);
    }
    &.FancyTextbox-Backgroundless {
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.5);
    }
}
.FancyTextbox-Secondary {
    background-color: #000000;
    
    &.FancyTextbox-Standard {
        color: rgba(255, 255, 255, 0.5);
    }
    &.FancyTextbox-Backgroundless {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.5);
    }
}

.FancyTextbox-Placeholder {
    pointer-events: none; 

    position: absolute;

    left: 50%;
    transform: translate(-50%, 0%);

    background-color: transparent !important;
    border-color: transparent !important;

    box-shadow: none !important;

    font-size: inherit;
    font-weight: inherit;

    transition: all 2.0s ease-in-out;
    animation: Fade-In 0.5s ease-in-out both;
}

@keyframes Fade-In {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes Fade-Out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes Textbox-Border-Circling {
    0% {
        clip-path: polygon(
            calc(50% + var(--Spacing)) -10%,
            calc(50% + var(--Spacing)) -10%,
            calc(50% + var(--Spacing)) 10%,
            calc(50% + var(--Spacing)) 10%
        ); 
    }

    10% {
        clip-path: polygon(
            calc(50% + var(--Spacing)) -10%,
            110% -10%,
            110% 10%,
            calc(50% + var(--Spacing)) 10%,
        ); 
    }

    15% {
        clip-path: polygon(
            90% -10%,
            110% -10%,
            100% 110%,
            100% 110%
        ); 
    }

    25% {
        clip-path: polygon(
            90% 90%,
            100% -10%,
            100% 110%,
            90% 110%
        ); 
    }

    45% {
        clip-path: polygon(
            -10% 90%,
            110% 90%,
            110% 110%,
            -10% 110%
        ); 
    }

    50% {
        clip-path: polygon(
            0% -10%,
            0% 10%,
            10% 110%,
            -10% 110%
        ); 
    }
    
    60% {
        clip-path: polygon(
            -10% -10%,
            10% -10%,
            10% 110%,
            -10% 110%
        ); 
    }

    70% {
        clip-path: polygon(
            -10% -10%,
            calc(50% - var(--Spacing)) -10%,
            calc(50% - var(--Spacing)) 10%,
            -10% 10%,
        ); 
    }

    100% {
        clip-path: polygon(
            calc(50% - var(--Spacing)) -10%,
            calc(50% - var(--Spacing)) -10%,
            calc(50% - var(--Spacing)) 10%,
            calc(50% - var(--Spacing)) 10%
        ); 
    }
}

/*
    0% {
        clip-path: polygon(
            49% -5%,
            48% -5%,
            -5% -5%,
            -5% 105%,
            105% 105%,
            105% -5%,
            52% -5%,
            51% -5%
        ); 
    }

    10% {
        clip-path: polygon(
            49% 5%,
            49% -5%,
            -5% -5%,
            -5% 105%,
            105% 105%,
            105% -5%,
            51% -5%,
            51% 5%
        ); 
    }

    40% {
        clip-path: polygon(
            -5% 5%,
            -5% -5%,
            -5% -5%,
            -5% 105%,
            105% 105%,
            105% -5%,
            105% -5%,
            105% 5%
        ); 
    }

    60% {
        clip-path: polygon(
            -5% 95%,
            -5% 105%,
            -5% 105%,
            -5% 105%,
            105% 105%,
            105% 105%,
            105% 105%,
            105% 95%
        ); 
    }

    100% {
        clip-path: polygon(
            50% 95%,
            50% 105%,
            50% 105%,
            50% 105%,
            50% 105%,
            50% 105%,
            50% 105%,
            50% 95%
        ); 
    }
*/