.Wrapper {
    --Section-Spacing: 15%;
    --Section-Height: 800px;

    position: relative; 

    left: 50%;

    transform: translateX(-50%);

    height: 100vh;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Section {
    position: relative;

    width: 600px;
    height: var(--Section-Height);

    opacity: 50%;
}

.Section::before,
.Section::after {
    content: '';

    position: absolute;

    width: 100%;
    height: 100%;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color:#ffffff;

    opacity: 50%;

    clip-path: polygon(
        calc(50% - var(--Section-Spacing)) -1%,
        -1% -1%,
        -1% 101%,
        101% 101%,
        101% -1%,
        calc(50% + var(--Section-Spacing)) -1%,
        calc(50% + var(--Section-Spacing)) 1%,
        99% 1%,
        99% 99%,
        1% 99%,
        1% 1%,
        calc(50% - var(--Section-Spacing)) 1%
    );
    
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-repeat: no-repeat;
    mask-position: top;
    
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top;

    animation: Draw-Section-Borders 5s ease-in both;
}

.Diamond {
    position: absolute;
    
    top: 45%; 
  
    transform: translateY(calc(var(--Section-Height) / -2));

    display: inline-flex;
    flex-direction: column;
}

.Container {         
    height: 50px;

    display: inline-flex;
    flex-direction: row;
}

.Container * {
    background: #ffffff;
}

.Container .Concave-Border {
    --Size: 75%;
}

.Rectangle {
    width: 200px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #161616;

    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Top.Container .Rectangle {
    border-radius: 20px 20px 0px 0px;
}

.Bottom.Container .Rectangle {
    border-radius: 0px 0px 20px 20px;
}



@keyframes Draw-Section-Borders {
    0% {
        mask-size: 0% 1%;
        -webkit-mask-size: 0% 1%;
    }

    50% {
        mask-size: 100% 1%;
        -webkit-mask-size: 100% 1%;
    }

    100% {
        mask-size: 100% 85%;
        -webkit-mask-size: 100% 85%;
    }
}