.Wrapper {
    --Section-Spacing: 10%;
    --Section-Width: 1200px;
    --Section-Height: 600px;

    position: relative; 

    left: 50%;
    transform: translateX(-50%);

    height: 100vh;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Section {
    z-index: -1;

    position: relative;

    width: var(--Section-Width);
    height: var(--Section-Height);
    
    background-color: #080808;

    border-radius: 64px;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.Section::before,
.Section::after {
    content: '';
    
    pointer-events: none;
    
    position: absolute;

    width: 100%;
    height: 100%;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 64px;
    border-color: rgba(255, 255, 255, 0.1);
    
    clip-path: polygon(
        calc(50% - var(--Section-Spacing)) -10%,
        -10% -10%,
        -10% 110%,
        110% 110%,
        110% -10%,
        calc(50% + var(--Section-Spacing)) -10%,
        calc(50% + var(--Section-Spacing)) 10%,
        90% 10%,
        90% 90%,
        10% 90%,
        10% 10%,
        calc(50% - var(--Section-Spacing)) 10%
    );
    
    mask-image: linear-gradient(
        to bottom,
        black 50%,
        transparent 100%
    );
    mask-repeat: no-repeat;
    mask-position: top;
    
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 50%,
        transparent 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top;

    animation: Draw-Section-Borders 5.0s ease-in both;

    -webkit-animation: Draw-Section-Borders 5.0s ease-in both;
}

.Section-Content {
    height: 100%;
    
    padding: 100px 0px 0px 0px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section-Title {
    padding-bottom: 64px;
    
    color: white;
    
    font-size: 32px;

    text-shadow:  0px 3px 10px rgba(255, 255, 255, 1);
}

.Diamond {
    position: absolute;
    
    top: 45%;
    transform: translateY(calc(var(--Section-Height) / -2));

    display: inline-flex;
    flex-direction: column;

    animation: Fade-In 5.0s ease-in-out both;

    -webkit-animation: 5.0s ease-in-out both;
}

.Container {         
    height: 50px;

    display: inline-flex;
    flex-direction: row;
}

.Container * {
    background: white;
}

.Container .Concave-Border {
    --Size: 75%;
}

.Rectangle {
    width: 200px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #161616;

    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Top.Container .Rectangle {
    border-radius: 20px 20px 0px 0px;
}

.Bottom.Container .Rectangle {
    border-radius: 0px 0px 20px 20px;
}


@keyframes Fade-In {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 75%;
    }
}

@keyframes Draw-Section-Borders {
    0% {
        mask-size: 0% 1%;
        -webkit-mask-size: 0% 1%;
    }

    50% {
        mask-size: 100% 1%;
        -webkit-mask-size: 100% 1%;
    }

    100% {
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
    }
}