@use '../../../styles' as s;



:host {
    display: inline-flex;
    cursor: pointer;
    
    /* Make it untappable for text selection */
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    color: var(--Text-Main);
}

:host(.FancyCheckbox--Primary),
:host(.FancyCheckbox--Secondary) {
    /* Theme variables automatically handle this */
}



.FancyCheckbox-Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--Padding-Medium, 8px);
    
    /* Dictating the font-size here allowing elements to scale relatively off it */
    font-size: var(--FontSize-Standard, 14px);
}

.FancyCheckboxCheckbox-Wrapper.Label-Left {
    flex-direction: row-reverse;
}

.FancyCheckbox-IconContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    /* Scaled relatively against the font-size */
    width: 1.25em;
    height: 1.25em;
    flex-shrink: 0;

    transition: all var(--Duration-Standard) var(--Easing-Standard);
}

.FancyCheckbox-Label {
    display: flex;
    align-items: center;

    color: inherit;
}

.FancyCheckbox-Icon {
    @include s.MaskedIcon(url('../../../../../assets/icons/checkmark.png'), currentColor);
    
    width: var(--Icon-Size-Standard, 60%);
    height: var(--Icon-Size-Standard, 60%);
}

/* Hover Interaction */
.FancyCheckbox-Wrapper:hover {
    .FancyCheckbox-IconContainer {
        transform: scale(var(--Hover-Scale-Big));
        border-radius: var(--Radius-Round);
    }
}