:root {
    --Hovering-Strength: 0.9;
}



body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;

    margin: 0%;
    
    background: #161616;
}

input, 
button {
  font-family: inherit;
}



.Concave-Border {
    --Size: 75%;
    --X: 50%;
    --Y: 50%;
    --Smoothness: 1%;

    aspect-ratio: 1 / 1;
    
    -webkit-mask-image: -webkit-radial-gradient(
        circle at var(--X) var(--Y), 
        black calc(var(--Size) - var(--Smoothness)),
        transparent var(--Size)
    ), -webkit-linear-gradient(white, white);
    -webkit-mask-composite: xor;

    mask-image: radial-gradient(
        circle at var(--X) var(--Y), 
        black calc(var(--Size) - var(--Smoothness)),
        transparent var(--Size)
    ), linear-gradient(white, white);
    mask-composite: exclude;

    height: 100%;

    background: white;
}

.Top.Concave-Border,
.Top .Concave-Border {
    --Y: 0%;
}
.Bottom.Concave-Border,
.Bottom .Concave-Border {
    --Y: 100%;
}
.Left.Concave-Border,
.Left .Concave-Border {
    --X: 0%;
}
.Right.Concave-Border,
.Right .Concave-Border {
    --X: 100%;
}

.Shape {
    aspect-ratio: 1 / 1;

    clip-path: polygon(var(--Shape));
    
    height: 10%;
    
    background: white;

    border-radius: 5%;
}

.Shape.Invert,
.Shape .Invert {
    --Stroke: -5px;

    clip-path: polygon(
        evenodd,
        var(--Stroke) var(--Stroke),
        calc(100% - var(--Stroke)) var(--Stroke),
        calc(100% - var(--Stroke)) calc(100% - var(--Stroke)),
        var(--Stroke) calc(100% - var(--Stroke)),
        var(--Stroke) var(--Stroke),
        var(--Shape)
    ) content-box; 

    box-sizing: content-box;

    padding: calc(-1 * var(--Stroke));
}

.Square {
    --Shape: 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%;
}