<FancyContainer
    class = "FancyMultibutton-Wrapper"

    [Type] = "EffectiveType()"

    [ngClass] = "GetWrapperClasses">
    <div
        class = "FancyMultibutton-Content"

        [ngStyle] = "GetContentStyles"

        [ngClass] = "GetBaseClasses">
        @if (ShowHighlight()) {
            <FancyContainer
                class = "FancyMultibutton-Highlight"

                [Type] = "EffectiveType()"

                [ngClass] = "GetHighlightClasses"
                [ngStyle] = "GetContentStyles">
            </FancyContainer>

            <div
                class = "FancyMultibutton-Indicator FancyMultibutton-Indicator--{{ IndicatorType() }}"
                [ngClass] = "GetHoverIndicatorClasses()"
                [ngStyle] = "GetContentStyles">
            </div>
        }

        @if (ShowIndicator()) {
            <div
                class = "FancyMultibutton-Indicator FancyMultibutton-Indicator--{{ IndicatorType() }}"

                [ngStyle] = "GetContentStyles">
            </div>
        }

        @for (Item of Items(); track $index) {
            <button
                type = "button"

                class = "FancyMultibutton"

                [ngClass] = "GetButtonClasses($index)"

                (click) = "SelectButton($index)"
                (pointerenter) = "OnHover($index)"
                (pointerleave) = "OnUnhover()">

                @if (DisplayMode() === 'Icon') {
                    <div
                        class = "FancyMultibutton-Icon"

                        [ngStyle] = "GetIconStyles(Item.Label)">
                    </div>
                } @else {
                    <span
                        class = "FancyMultibutton-Label"
                        [FancyTypewriter] = "Item.Label">
                    </span>
                }
            </button>
        }
    </div>
</FancyContainer>
