<FancyContainer
    class = "FancyMultibutton-Wrapper"

    [class.Hovering--First] = "HoveredIndex() === 0"
    [class.Hovering--Last] = "HoveredIndex() !== null && HoveredIndex() === Items.length - 1"

    [ngClass] = "GetBaseClasses">
    <div
        class = "FancyMultibutton-Content"

        [style.--Selected-Index] = "SelectedIndex"
        [style.--Button-Count] = "Items.length"

        [ngClass] = "GetBaseClasses">
        <FancyContainer 
            class="FancyMultibutton-Highlight"

            [class.Hovering--Selected] = "HoveredIndex() === SelectedIndex"
            
            [class.Hovering--First] = "HoveredIndex() === 0 && SelectedIndex === 0"
            [class.Hovering--Last] = "HoveredIndex() !== null && HoveredIndex() === Items.length - 1 && SelectedIndex === Items.length - 1">
        </FancyContainer>
        
        @for (Item of Items; track $index) {
            <button
                type = "button"

                class = "FancyMultibutton"

                [class.FancyMultibutton--Selected] = "SelectedIndex === $index"

                [class.Hovering--Self] = "HoveredIndex() === $index"

                [class.Hovering--First] = "$index === 0"
                [class.Hovering--Last] = "$index === Items.length - 1"

                (click) = "SelectButton($index)"
                (pointerenter) = "OnHover($index)"
                (pointerleave) = "OnUnhover()">
                @if (DisplayMode === 'Text') {
                    <span class = "FancyMultibutton-Label">{{ Item.Label }}</span>
                } @else {
                    <div
                        class = "FancyMultibutton-Icon"

                        [style.--Icon-URL] = "GetIconUrl(Item.Label)">
                    </div>
                }
            </button>
        }
    </div>
</FancyContainer>

<!-- 
@if (Items.length) {
    <div class = "FancyMultibutton-IndicatorTrack">
        <div
            class = "FancyMultibutton-Indicator FancyMultibutton-Indicator--{{ Indicator ?? 'Dash' }}"

            [style.left.%] = "IndicatorPositionPercent"></div>
    </div>
}
-->