<FancyContainer
    class = "FancyMultibutton-Wrapper"

    [Type] = "EffectiveType()"

    [class.Hovering--First] = "HoveredIndex() === 0"
    [class.Hovering--Last] = "HoveredIndex() !== null && HoveredIndex() === Items.length - 1"

    [ngClass] = "GetBaseClasses">
    <div
        class = "FancyMultibutton-Content"

        [style.--Selected-Index] = "SelectedIndex"
        [style.--Button-Count] = "Items.length"

        [ngClass] = "GetBaseClasses">
        @if (ShowHighlight) {
            <FancyContainer 
                class = "FancyMultibutton-Highlight"

                [Type] = "EffectiveType()"

                [class.Hovering--Selected] = "HoveredIndex() === SelectedIndex"
                
                [class.Hovering--First] = "HoveredIndex() === 0 && SelectedIndex === 0"
                [class.Hovering--Last] = "HoveredIndex() !== null && HoveredIndex() === Items.length - 1 && SelectedIndex === Items.length - 1">
            </FancyContainer>
        }

        @if (ShowIndicator) {
            <div class="FancyMultibutton-Indicator FancyMultibutton-Indicator--{{ IndicatorType }}"
                [style.--Selected-Index]="SelectedIndex"
                [style.--Button-Count]="Items.length"></div>
        }
        
        @for (Item of Items; track $index) {
            <button
                type = "button"

                class = "FancyMultibutton"

                [class.FancyMultibutton--Selected] = "SelectedIndex === $index"

                [class.Hovering--Self] = "HoveredIndex() === $index"

                [class.Hovering--First] = "$index === 0"
                [class.Hovering--Last] = "$index === Items.length - 1"

                (click) = "SelectButton($index)"
                (pointerenter) = "OnHover($index)"
                (pointerleave) = "OnUnhover()">
                
                @if (DisplayMode === 'Icon') {
                    <div
                        class = "FancyMultibutton-Icon"

                        [style.--Icon-URL] = "GetIconUrl(Item.Label)">
                    </div>
                } @else {
                    <span class = "FancyMultibutton-Label">{{ Item.Label }}</span>
                }
            </button>
        }
    </div>
</FancyContainer>

