<div
  class = "FancyButton-Wrapper FancyButton--Normal"

  [ngClass] = "GetWrapperClasses(false)"

  [style.--Icon-URL] = "ButtonIconStyle">
  <button
    class = "FancyButton"

    [ngClass] = "GetButtonClasses(false)" 

    (pointerenter) = "OnHover()"
    (pointermove) = "OnMove($event)"
    (pointerleave) = "OnUnhover()"
    
    (pointercancel) = "OnCancel()"

    (pointerdown) = "OnDown($event)"
    (pointerup) = "OnUp($event)"

    (keydown) = "OnKeyDown()"
    (keyup) = "OnKeyUp()"

    (wheel) = "OnWheel()"

    (focus) = "OnFocus()"
    (blur) = "OnUnfocus()">
    <span class="FancyButton-Label">{{ Label }}</span>

    @if (Icon !== '') {
      <div
        class = "FancyButton-Icon-Container"
      
        [ngClass] = "GetIconClasses(true)">
        <div
          class = "FancyButton-Icon"
      
          [ngClass] = "GetIconClasses(false)"
          
          (animationend) = "OnIconAnimationEnd()">
        </div>
      </div>
    }
  </button>  
</div>

<div #InvertedWrapper
  class = "FancyButton-Wrapper FancyButton--Inverted"

  [ngClass] = "GetWrapperClasses(true)"
  [ngStyle] = "RippleStyles"
  
  [style.--Icon-URL] = "ButtonIconStyle">
  <button
    class = "FancyButton"
    
    [ngClass] = "GetButtonClasses(true)">
    <span class="FancyButton-Label">{{ Label }}</span>

    @if (Icon !== '') {
      <div
        class = "FancyButton-Icon-Container"
      
        [ngClass] = "GetIconClasses(false)">
        <div
          class = "FancyButton-Icon"
      
          [ngClass] = "GetIconClasses(true)"

          (animationend) = "OnIconAnimationEnd()">
        </div>
      </div>
    }
  </button>
</div>