@mixin FancyButton-Focus() {
    transform: translateY(-10px) scale(10px 10px);

    border-radius: 64px;
}

.FancyButton-Wrapper {
    position: absolute;
    
    background-color: transparent !important;
    
    color: transparent !important;

    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;

    transition: all 1.0s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    -webkit-transition: all 1.0s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &:hover {
        @include FancyButton-Focus();

        .FancyButton,
        .FancyButton-Border {
            @include FancyButton-Focus();
        }
    }
}

.FancyButton-Border {
    pointer-events: none;

    position: absolute;
    
    height: 100%;
    width: 100%;

    border: solid;
    border-width: 1px;
    border-radius: 16px;

    transition: inherit;

    -webkit-transition: inherit;
}

.FancyButton {
    cursor: pointer;
    
    position: relative;

    border-radius: 16px;
        
    outline: none;

    font-size: 16px;
    font-weight: 500;
    
    text-align: center;
    
    overflow: hidden;

    transition: inherit;

    -webkit-transition: inherit;
}

.FancyButton-Normal {
    clip-path: circle(200% at center);
}
.FancyButton-Inverted {
    pointer-events: none;

    clip-path: circle(0% at center);
}

.FancyButton-Standard {
    border: none;
}
.FancyButton-Backgroundless {
    background-color: transparent !important;

    border: solid;
    border-width: 1px;

    &.FancyButton-Primary {
        border-color: white;
        color: white;
    }
    &.FancyButton-Secondary {
        border-color: black;
        color: black;
    }
}

.FancyButton-Primary {
    background-color: white;
    border-color: white;
    color: black;

    .FancyButton-Border {
        border-color: white;
    }
}
.FancyButton-Secondary {
    background-color: black;
    border-color: black;
    color: white;

    .FancyButton-Border {
        border-color: black;
    }
}