@use '../../../styles' as s;



:host {
    display: flex;
    place-content: center;
    position: relative;
    width: var(--button-width, 100%);
    height: 100%;

    container-type: size;
    
    color: var(--text-main);
}



.FancyButton-Wrapper {
    @include s.CreateTransition(transform, border-radius);
    
    outline: none;

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: transparent;
    color: transparent;

    &.FancyButton--Backgroundless {
        background-color: transparent;

        border: solid;
        border-width: 1px;
        border-color: var(--border-strong);
        color: var(--text-main);
    }

    &:hover,
    &:active,
    &:has(.FancyButton:focus-visible) {
        @include s.SynchronizeStates('.FancyButton') {
            transform: translateY(var(--hover-movey));

            border-radius: var(--radius-pill);
        }

        @include s.SynchronizeStates('.FancyButton-Label') {
            transform: scale(var(--hover-scale-standard));
        }

        @include s.SynchronizeStates('.FancyButton-Icon') {
            --icon-scale: var(--hover-scale-standard);
        }
    }
}

.FancyButton {
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: space-between;
    
    gap: var(--padding-small);
    padding: 0px var(--padding-small) 0px var(--padding-medium);

    outline: none;

    position: relative;

    width: 100%;
    height: 100%;

    transition: inherit;

    cursor: pointer;

    background-color: transparent;

    border-radius: var(--radius-standard);

    text-align: left;

    overflow: hidden;
}

@keyframes Icon-FadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes FancyButton-Icon-ExitRight {
    0% { translate: 0px 0px; }
    100% { translate: 50px 0px; }
}

.FancyButton-Icon {
    @include s.CreateTransition(width, height, scale, translate, transform);
    @include s.MaskedIcon(none, currentColor);

    pointer-events: none;

    will-change: transform, scale, translate;

    border: none;
    flex-shrink: 0;

    height: var(--icon-size-standard, 60%);
    width: auto;
    aspect-ratio: 1 / 1;

    --icon-scale: 1;
    scale: var(--icon-scale);
    translate: 0px 0px;

    &.FancyButton-Icon--Entering {
        animation: Icon-FadeIn var(--duration-standard) var(--easing-standard) forwards;
    }
    &.FancyButton-Icon--Exiting {
        animation: FancyButton-Icon-ExitRight var(--duration-standard) var(--easing-standard) forwards;
    }
    &.FancyButton-Icon--OffScreen {
        translate: 50px 0px;
    }
}

.FancyButton-Label-Wrapper {
    height: 100%;
    flex: 1;
    display: flex;
    place-content: center flex-start;
    place-items: center;

    &.FancyButton-Label-Wrapper--Centered {
        place-content: center;
        
        .FancyButton-Label {
            text-align: center;
            transform-origin: center;
        }
    }
}

.FancyButton-Label {
    @include s.CreateTransition(font-size, transform);
    
    transform-origin: left;
    
    font-size: var(--fontsize-standard);

    white-space: normal;
    line-height: 1.1;

    word-break: break-word;
    word-wrap: break-word;

    & {
        display: inline-block;
        text-align: left;
        width: auto;
        max-width: 100%;
    }
}

.FancyButton--Inverted {
    pointer-events: none;

    transform: scale(1.01);

    clip-path: circle(0% at center);
}

.FancyButton--Centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FancyButton--Backgroundless {
    background-color: transparent;

    border: solid;
    border-width: 1px;
    
    &.FancyButton--Primary {
        border-color: white;
        color: white;
    }
    &.FancyButton--Secondary {
        border-color: black;
        color: black;
    }
}