@use 'sass:list';

@mixin CreateTransition($Properties ...) {
  $Duration: 1.0s;
  $Easing: cubic-bezier(0.86, 0, 0.07, 1);
  
  $Transitions: ();

  @each $Property in $Properties {
    $SingleTransition: $Property $Duration $Easing;
    
    $Transitions: list.append($Transitions, $SingleTransition, comma);
  }

  transition: $Transitions;
  
  -webkit-transition: $Transitions;
}

.FancyButton-Wrapper {
    position: absolute;
    
    background-color: transparent !important;
    
    color: transparent !important;

    outline: none;
    
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;

    @include CreateTransition(transform, border-radius);

    &.FancyButton-Normal:hover {
        .FancyButton, ~ .FancyButton-Wrapper.FancyButton-Inverted .FancyButton {
            transform: translateY(-5px);

            border-radius: 64px;
        }
    }
}

.FancyButton {
    cursor: pointer;
    
    position: relative;

    height: 100%;
    width: 100%;
    
    border-radius: 16px;
        
    outline: none;

    font-size: 16px;
    font-weight: 500;
    
    text-align: center;

    transition: inherit;
    
    -webkit-transition: inherit;
}

.FancyButton-Inverted {
    pointer-events: none;

    clip-path: circle(0% at center);

    transform: scale(1.05);
}

.FancyButton-Standard {
    border: none;
}
.FancyButton-Backgroundless {
    background-color: transparent !important;

    border: solid;
    border-width: 1px;

    &.FancyButton-Primary {
        border-color: white;
        color: white;
    }
    &.FancyButton-Secondary {
        border-color: black;
        color: black;
    }
}

.FancyButton-Primary {
    background-color: white;
    border-color: white;
    color: black;
}
.FancyButton-Secondary {
    background-color: black;
    border-color: black;
    color: white;
}