@use 'sass:list';



@mixin CreateTransition($Properties ...) {
    $Duration: 1.0s;
    $Easing: cubic-bezier(0.86, 0, 0.07, 1);

    $Transitions: ();

    @each $Property in $Properties {
        $SingleTransition: $Property $Duration $Easing;

        $Transitions: list.append($Transitions, $SingleTransition, comma);
    }

    transition: $Transitions;
}

@mixin SynchronizeStates($Selector) {
    #{$Selector}, 
    ~ .FancyButton-Wrapper.FancyButton--Inverted #{$Selector} {
        @content;
    }
}



:host {
    --Button-FontSize: 14px;
}



.FancyButton-Wrapper {
    @include CreateTransition(transform, border-radius);
    
    outline: none;

    position: absolute;

    width: inherit;
    height: inherit;

    background-color: transparent !important;
    color: transparent !important;

    &.FancyButton--Normal:hover {
        @include SynchronizeStates('.FancyButton') {
            transform: translateY(-5px);

            border-radius: 64px;
        }
            font-weight: 600;

        @include SynchronizeStates('.FancyButton-Label') {
            font-size: calc(var(--Button-FontSize) * var(--Hovering-Strength));
        }

        @include SynchronizeStates('.FancyButton-Icon-Container') {
            border-radius: 64px;
        }

        @include SynchronizeStates('.FancyButton-Icon') {
            width: 40%;
            height: 40%;
        }
    }
}

.FancyButton {
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: space-between;
    
    gap: 8px;
    padding: 0px 4px 0px 16px;

    outline: none;

    position: relative;

    width: 100%;
    height: 100%;

    transition: inherit;

    cursor: pointer;

    border-radius: 16px;

    text-align: center;
}

.FancyButton-Icon-Container {
    @include CreateTransition(border-radius);
    
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: center;
    
    position: relative;
    
    height: 80%;
    aspect-ratio: 1 / 1;
    
    border-radius: 12px;
    
    overflow: hidden;

    flex-shrink: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.FancyButton-Icon {
    @include CreateTransition(width, height);
    
    will-change: transform;

    -webkit-mask-image: var(--Icon-URL);
    -webkit-mask-size: contain;

    mask-image: var(--Icon-URL);
    mask-size: contain;

    height: 50%;
    width: 50%;

    &.FancyButton-Icon--Entering {
        animation: Icon-EnterLeft 1.5s cubic-bezier(0.2, 0, 0.2, 1) forwards;
    }
    &.FancyButton-Icon--Exiting {
        animation: Icon-ExitRight 1.5s cubic-bezier(0.2, 0, 0.2, 1) 0.5s forwards;
    }
}

.FancyButton-Label {
    @include CreateTransition(font-size);
    
    text-align: center;
    
    font-size: var(--Button-FontSize);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FancyButton--Inverted {
    pointer-events: none;

    transform: scale(1.01);

    clip-path: circle(0% at center);
}

.FancyButton--Centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FancyButton--Standard {
    border: none;
}
.FancyButton--Backgroundless {
    background-color: transparent !important;

    border: solid;
    border-width: 1px;
    
    &.FancyButton--Primary {
        border-color: white;
        color: white;
    }
    &.FancyButton--Secondary {
        border-color: black;
        color: black;
    }
}

.FancyButton--Primary {
    background-color: white;
    border-color: white;
    color: black;
}
.FancyButton--Secondary {
    background-color: black;
    border-color: black;
    color: white;
}



@keyframes Icon-EnterLeft {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0px);
    }
}
@keyframes Icon-ExitRight {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(50px);
    }
}