<div
  class = "FancyButton-Wrapper FancyButton-Normal"
  
  [ngClass] = "{
  'FancyButton-Primary': (Type === 'Primary'),
  'FancyButton-Secondary': (Type === 'Secondary'),
  }"
  [ngStyle] = "InvertedRippleStyles"

  [style.height] = "Height"
  [style.width] = "Width">
  <button
    class = "FancyButton"
    
    [ngClass] = "{
      'FancyButton-Primary': (Type === 'Primary'),
      'FancyButton-Secondary': (Type === 'Secondary'),
      
      'FancyButton-Standard': (Styled === 'Standard'),
      'FancyButton-Backgroundless': (Styled === 'Backgroundless')
    }" 
    [ngStyle] = "ButtonStyles"

    (pointerenter) = "OnFocus()"
    (pointerleave) = "OnUnfocus()"

    (pointercancel) = "OnCancel()"

    (pointerdown) = "OnDown($event)"
    (pointerup) = "OnUp($event)"

    (keydown) = "OnKeyDown()"
    (keyup) = "OnKeyUp()"

    (wheel) = "OnWheel()"

    (selectstart) = "OnFocus()"
    (select) = "OnUnfocus()"

    (focus) = "OnFocus()"
    (blur) = "OnUnfocus()">
    {{ Label }}
  </button>  
  <div class = "FancyButton-Border"></div>
</div>
<div
  class = "FancyButton-Wrapper FancyButton-Inverted"
  
  [ngClass] = "{
    'FancyButton-Primary': (Type === 'Secondary'),
    'FancyButton-Secondary': (Type === 'Primary'),
  }"
  [ngStyle] = "RippleStyles"

  [style.height] = "Height"
  [style.width] = "Width">
  <button
    class = "FancyButton"
    
    [ngClass] = "{
      'FancyButton-Primary': (Type === 'Secondary'),
      'FancyButton-Secondary': (Type === 'Primary'),
      
      'FancyButton-Standard': (Styled === 'Standard'),
      'FancyButton-Backgroundless': (Styled === 'Backgroundless')
    }"
    [ngStyle] = "ButtonStyles">
    {{ Label }}
  </button>
  <div class = "FancyButton-Border"></div>
</div>