@use 'sass:list';

@mixin CreateTransition($Properties ...) {
  $Duration: 1.0s;
  $Easing: cubic-bezier(0.86, 0, 0.07, 1);
  
  $Transitions: ();

  @each $Property in $Properties {
    $SingleTransition: $Property $Duration $Easing;
    
    $Transitions: list.append($Transitions, $SingleTransition, comma);
  }

  transition: $Transitions;
  
  -webkit-transition: $Transitions;
}

.FancyButton-Wrapper {
    height: inherit;
    width: inherit;

    position: absolute;
    
    background-color: transparent !important;
    
    color: transparent !important;

    outline: none;
    
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;

    @include CreateTransition(transform, border-radius);

    &.FancyButton-Normal:hover {
        .FancyButton, ~ .FancyButton-Wrapper.FancyButton-Inverted .FancyButton {
            transform: translateY(-5px);

            border-radius: 64px;
        }
    }
}

.FancyButton {
    cursor: pointer;
    
    position: relative;

    height: 100%;
    width: 100%;
    padding: var(--fancy-button-padding, initial);
    
    border-radius: var(--fancy-button-border-radius, 16px);
        
    outline: none;

    font-size: 16px;
    font-weight: 500;
    
    text-align: center;

    transition: inherit;
    
    -webkit-transition: inherit;
}

.FancyButton-Inverted {
    pointer-events: none;

    clip-path: circle(0% at center);

    transform: scale(1.05);
}

.FancyButton-Standard {
    border: var(--fancy-button-border, none);
}
.FancyButton-Backgroundless {
    background-color: transparent !important;

    border: var(--fancy-button-border, solid 1px);

    &.FancyButton-Primary {
        border-color: var(--fancy-button-primary-border-color, white);
        color: var(--fancy-button-primary-color, white);
    }
    &.FancyButton-Secondary {
        border-color: var(--fancy-button-secondary-border-color, black);
        color: var(--fancy-button-secondary-color, black);
    }
}

.FancyButton-Primary {
    background-color: var(--fancy-button-primary-background-color, white);
    border-color: var(--fancy-button-primary-border-color, white);
    color: var(--fancy-button-primary-color, black);
}
.FancyButton-Secondary {
    background-color: var(--fancy-button-secondary-background-color, black);
    border-color: var(--fancy-button-secondary-border-color, black);
    color: var(--fancy-button-secondary-color, white);
}
