@use '../../../styles' as s;



:host {
    display: inline-flex;

    border-radius: var(--Radius-Sharpest, var(--Radius-Standard));
    -webkit-backdrop-filter: blur(var(--Blur-Standard));
    backdrop-filter: blur(var(--Blur-Standard));

    box-sizing: border-box;
    transition: inherit;
}

:host(.FancyContainer--Primary) {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--Container-Border-Color, rgba(255, 255, 255, 0.8));
    color: white;
}

:host(.FancyContainer--Secondary) {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--Container-Border-Color, rgba(0, 0, 0, 0.8));
    color: black;
}

