@use '../../../styles' as s;



:host {
    display: inline-flex;

    border-radius: var(--radius-standard);
    -webkit-backdrop-filter: blur(var(--container-blur));
    backdrop-filter: blur(var(--container-blur));

    box-sizing: border-box;
    transition: inherit;

    background-color: var(--surface-bg);
    border: 1px solid var(--border-strong);
    color: var(--text-main);
}
